name: Build
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3

      - name: Set up .NET CLI
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Publish
        run: dotnet publish --no-build

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: indexer_build_${{ github.sha }}
          path: artifacts/publish/*
          if-no-files-found: error
